#wholePage {
    display: flex;
    justify-content: center;
}

.gridContainer {
    width: 55rem;
    height: 50rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.grid-item {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 3rem;
    width: 3rem;
    border: solid rgb(255, 123, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*.grid-item:hover {
    background-color: black;
} /*