.grid-container {
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:50px;
   
}

.grid-item {
    background-color: rgb(255, 255, 255);
    height: 9rem;
    width: 9rem;
    padding: 50px;
    border: solid rgb(255, 94, 0);
    text-align: center;
}