.grid-container {
    width: 40rem;
    height: 40rem;
    display: grid;
    grid-template-columns: 4 4 4;
    padding:50px;
   
}

.grid-item {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border: solid rgb(255, 94, 0);
    text-align: center;
}